[submodule "lib/pico-i2s-pio"]
	path = lib/pico-i2s-pio
	url = https://github.com/BambooMaster/pico-i2s-pio.git
[submodule "lib/pico-extras"]
	path = lib/pico-extras
	url = https://github.com/BambooMaster/pico-extras.git
[submodule "lib/CMSIS_5"]
	path = lib/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "lib/CMSIS-DSP"]
	path = lib/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
